@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../components/mainSlider/mainSlider.css";
@import "../components/products/new/products.css";

:root {
  --background: 255, 255, 255;
  --swiper-navigation-size: 30px !important;
}

body {
  background: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@media (max-width: 768px) {
  :root {
    --swiper-navigation-size: 15px !important;
  }
}
